/* GENERAL RULES FOR THE WHOLE PAGE */

body {
  background-color: #141922;
  font-family: "Montserrat";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

main {
  height: calc(100vh - 100px);
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}


/* -------------LEFT NAV SECTION (BLACK SECTION ON THE LEFT)----------------- */

.left-navig1 {
  width: 200px;
  height: 100%;
  float: left;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.db-img-rules {
  width: 15%;
}

.db-flex {
  display: flex;
  flex-wrap: wrap;
}

.first-line,
.second-line,
.third-line,
.fourth-line,
.db-playlist1,
.john-doe {
  margin-left: 20px;
  position: relative;
}

.second-line span,
.third-line span,
.fourth-line span {
  position: absolute;
  bottom: 4px;
  left: 40px;
}

.second-line span,
.third-line span,
.fourth-line span {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.third-line span,
.fourth-line span {
  color: #717171;
  font-size: 15px;
  font-weight: bold;
}

#logo-spotify-danny {
  font-size: 40px;
  color: white;
  padding-top: 20px;
}

.first-line {
  display: flex;
}

.first-line p,
.first-line i {
  color: white;
  display: inline;
  font-size: 20px;
}

.first-line i {
  font-size: 10px;
}

.second-line {
  padding-top: 30px;
}

.second-line img:first-of-type {
  border-left: 2px solid #C8FF00;
}

.third-line,
.fourth-line {
  padding-top: 10px;
}

.fourth-line span {
  white-space:nowrap
}

/* -------------------PLAYLIST----------------------- */

.db-playlist1 {
  flex-grow: 1;
}

.db-playlist1 h4 {
  color: white;
  padding: 30px 0px 20px 0px;
}

.square-playlist {
  padding-bottom: 10px;
}

.square-playlist i {
  font-size: 40px;
}

.square-playlist a {
  color: #717171;
}

.square-playlist span {
  font-weight: bold;
  position: relative;
  bottom: 10px;
}

.db-playlist2 {
  flex-grow: 1;
}

.db-playlist2 a {
  line-height: 200%;
}

.db-playlist2 p {
  color: #717171;
}

.john-doe {
  color: white;
}

.john-doe div:first-of-type {
  border-bottom: 1px solid #717171;
  margin-right: 20px;
  color: #717171;
}

/* THERE WAS ALREADY db-flex BUT RISK OF MAKING CONFUSION */
.db-install {
  display: flex;
}

.db-install i {
  color: #717171;
  padding-bottom: 10px;
  padding-right: 10px;
}

.db-install h4 {
  color: #717171;
}

.db-john {
  display: flex;
  padding-top: 20px;
  padding-bottom: 5px;
}

.db-john img {
  width: 15%;
  background-color: grey;
  border-radius: 10px;
  margin-right: 10px;
}

.db-john h3 {
  font-size: 15px;
  color: white;
  position:relative;
  top: 5px;
}

/* ---------------------------JUMBOTRON--------------------------------- */

.jumbo1 {
  width: calc(100% - 200px);
  height: 100%;
  padding-top: 100px;
  float: right;
  overflow-y: auto;
}

.transparent-top {
  height: 100px;
  background-color: #080b12;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 200px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.transparent-top a:hover {
  transform: scale(1.1);
}

.transparent-top a {
  font-size: 20px;
  color: white;
  margin-right: 30px;
  z-index: 50;
  border: 1px solid white;
  padding: 15px 15px 15px 15px;
  border-radius: 25px;
}

/* THE ONLY h1 IN THE PROJECT */
main h1 {
  color: white;
}

/* ----------THIS IS THE TEXT IN THE MIDDLE OF THE JUMBOTRON----------------- */

.central-navig {
  display: flex;
  justify-content: center;
  color: white;
  padding: 50px 0px 50px 0px;
}

.central-navig li {
  margin-left: 20px;
}

.db-hover-white:hover {
  color: white;
}

.central-navig h2 {
  color: #6c6f74;
  font-size: 18px;
}

.central-navig li:first-of-type {
  border-bottom: 2px solid #C8FF00;
}

/* ---------------MUSIC AND FILMS SECTION (inside JUMBO)-------------------- */

/* FIRST LINE OF PICTURES */

.db-heading {
  margin-left: 20px;
  padding: 30px 0px 30px 0px;
}

.box {
  width: calc((100% / 6) - 20px);
  margin-left: 20px;
}

.db-space {
  padding-top: 20px;
}

.db-heading h2 {
  color: white;
}

.db-heading h4 {
  color: #6c6f74;
  padding-top: 15px;
}

.db-one img {
  width: 100%;
}

.text-rules-danny {
  padding-top: 10px;
  font-weight: bolder;
  text-align: center;
}

.text-rules-danny h5 {
  color: white;
  font-size: 20px;
}

.text-rules-danny p {
  padding-top: 10px;
  color: #6c6f74;
}

.db-radius img,
.container-dark:hover .db-einaudi {
  border-radius: 50%;
}

/* HOVER RULES */

.container-dark {
  width: 100%;
  position: relative;
}

.db-layover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  display: none;
}

.container-dark:hover .db-layover {
  display: block;
}

.container-dark .far {
  color: white;
  font-size: 50px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 650;
  display: none;
}

.container-dark:hover .far {
  display: block;
}

/* -----------------------------FOOTER--------------------------------------- */

footer {
  width: 100%;
  height: 100px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

/* --------------------------FOOTER 1-------------------------- */

.db-footer-left {
  display: flex;
  height: 100%;
}

.sinister {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sinister img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.db-sinister-text a:link,
.db-sinister-text a:visited,
.db-sinister-text a:active,
.db-sinister-text a:hover,
.db-white {
  color: white;
  font-size: 12px;
}

#db-underlined {
  color: #717171;
  display: block;
}

#db-underlined:hover {
  text-decoration: underline;
}

.lol:link,
.lol:visited,
.lol:active,
.lol:hover {
  color: #717171;
}

.lol1 {
  position: relative;
  left: 10px;
}

.lol2 {
  position: relative;
  left: 25px;
}

/* ----------------------------FOOTER 2-------------------------------- */

.db-footer-central {
  display: flex;
  width: 40%;
  justify-content: center;
  flex-direction: column;
}

.db-mp3-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.db-mp3-player li {
  display: inline;
}

.db-mp3-player a:link,
.db-mp3-player a:visited,
.db-mp3-player a:active,
.db-mp3-player a:hover {
  color: white;
}

.fas.player {
  font-size: 20px;
  padding: 15px 20px 15px 20px;
}

.db-bigger i:hover {
  transform: scale(1.3);
}

.far.player {
  font-size: 45px;
}

.jojoba {
  display: flex;
  font-weight: bold;
  width: 100%;
  font-size: 12px;
  color: white;
}

.jojo1 {
  align-self: center;
}

.jojo3 {
  align-self: center;
  color: white;
}

.jojoba a {
  color: white;
}

.jojo2 {
  flex-grow: 1;
  align-self: center;
  width: 50%;
  height: 5px;
  background-color: grey;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
}

.line-on-line {
  width: 25%;
  height: 100%;
  background-color: white;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  display: none;
}

.ball {
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  left: 95%;
  display: none;
}

/* HOVER RULES */

.jojo2:hover .line-on-line,
.jojo2:hover .ball {
  display: block;
}

.jojo2:hover .line-on-line {
  background-color: #C8FF00;
  border-radius: 10px;
}

/* ------------------------FOOTER 3--------------------------- */

.db-footer-right {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
}

.db-footer-right i {
  padding-left: 10px;
  margin-right: 10px;
}

.db-footer-right a:link,
.db-footer-right a:visited,
.db-footer-right a:active,
.db-footer-right a:hover {
  color: #717171;
}

.volume-bar {
  width: 60px;
  align-self: center;
  height: 5px;
  background-color: grey;
  border-radius: 10px;
}

.turn-up-volume {
  width: 40%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: none;
}

.advance {
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  left: 95%;
  display: none;
}


/* HOVER RULES */

.volume-bar:hover .advance {
  display: block;
}

.volume-bar:hover .turn-up-volume {
  display: block;
  background-color: #C8FF00;
  border-radius: 10px;
}







/* -------------------------------MEDIA QUERY-------------------------------- */


/* ---------------------------EXTRA-SMALL----------------------------------- */

@media all and (max-width:552px) {

/* JUMBOTRON */

  .db-flex .box {
    width: calc((100% / 2) - 20px);
    height: calc((100% / 2) - 20px);
    margin-left: 20px;
  }

  .jumbo1 {
    width: calc(100% - 50px);
  }

  /* LEFT NAVIG 1 (BLACK LEFT SIDEBAR) */

  .left-navig1 {
    width: 50px;
  }

  .transparent-top {
    left: 50px;
  }

  .square-playlist .db-hover-white,
  .first-line p, .far.fa-copyright,
  .db-playlist1 h4,
  .fa-plus-square,
  .db-hover-white,
  .db-john h3 {
    display: none;
  }

  .fa-spotify {
    position: relative;
    right: 15px;
    top: 10px;
    display: block;
  }

  .lallerolol {
    width: 200px;
    position: relative;
    right: 10px;
  }

  .john-doe div:first-of-type,
  .second-line img:first-of-type {
    border: none;
  }

  .db-john img {
    width: 100%;
    position: relative;
    right: 3px;
    bottom: 5px;
  }

  .db-install .fa-arrow-circle-down {
    font-size: 15px;
    position: relative;
    right: 1px;
  }


}

/* ---------------------------------SMALL------------------------------------ */

@media all and (min-width:553px) and (max-width:639px) {

  /* JUMBOTRON */

  .db-flex .box {
    width: calc((100% / 2) - 20px);
    height: calc((100% / 2) - 20px);
    margin-left: 20px;
  }
}

/* -------------------------------MEDIUM------------------------------------- */

@media all and (min-width:640px) and (max-width:878px) {

  /* JUMBOTRON */

  /* nav.central-navig li {
    width: calc((100% / 5) - 20px);
    margin-left: 20px;
  } */

  .db-flex .box {
    width: calc((100% / 4) - 20px);
    margin-left: 20px;
  }
}

/* -------------------------------LARGE------------------------------------- */

@media all and (min-width:879px) {

}
