/* GENERAL RULES FOR THE WHOLE PAGE */

body {
  background-color: #141922;
  font-family: "Montserrat";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

main {
  width: calc(100vw - 200px);
  height: calc(100vh - 100px);
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}


/* --------------------------LEFT NAV SECTION-------------------------------- */

.left-navig1 {
  width: 200px;
  height: 100%;
  float: left;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.db-img-rules {
  width: 15%;
}

.db-flex {
  display: flex;
}

.first-line,
.second-line,
.third-line,
.fourth-line,
.db-playlist1,
.john-doe {
  margin-left: 20px;
}

.second-line span,
.second-line span,
.second-line span,
.second-line span {
  color: white;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  left: 10px;
  top: 5px;
}

.third-line span,
.third-line span,
.third-line span,
.third-line span,
.fourth-line span,
.fourth-line span,
.fourth-line span,
.fourth-line span {
  color: #717171;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  left: 10px;
  top: 5px;
}

#logo-spotify-danny {
  font-size: 40px;
  color: white;
  padding-top: 20px;
}

.first-line span {
  color: white;
  font-size: 50%;
  position: relative;
  bottom: 10px;
}

.second-line {
  padding-top: 30px;
}

.second-line img:first-of-type {
  border-left: 2px solid #C8FF00;
}

.third-line,
.fourth-line {
  padding-top: 10px;
}

.fourth-line span {
  white-space:nowrap
}


/* -------------------PLAYLIST----------------------- */

.db-playlist1 {
  flex-grow: 1;
}

.db-playlist1 h4 {
  color: white;
  padding: 30px 0px 20px 0px;
}

.square-playlist {
  padding-bottom: 10px;
}

.square-playlist i {
  font-size: 40px;
}

.square-playlist a {
  color: #717171;
}

.square-playlist span {
  font-weight: bold;
  position: relative;
  bottom: 10px;
}

.db-playlist2 {
  flex-grow: 1;
}

.db-playlist2 a {
  line-height: 200%;
}

.db-playlist2 p {
  color: #717171;
}

.john-doe {
  color: white;
}

.john-doe div:first-of-type {
  border-bottom: 1px solid #717171;
  margin-right: 20px;
  color: #717171;
}

/* THERE WAS ALREADY db-flex BUT RISK OF MAKING CONFUSION */
.db-install {
  display: flex;
}

.db-install i {
  color: #717171;
  padding-bottom: 10px;
  padding-right: 10px;
}

.db-install h4 {
  color: #717171;
}

.db-john {
  display: flex;
  padding-top: 20px;
  padding-bottom: 5px;
}

.db-john img {
  width: 15%;
  background-color: grey;
  border-radius: 10px;
  margin-right: 10px;
}

.db-john h3 {
  font-size: 15px;
  color: white;
  position:relative;
  top: 5px;
}

/* -------------------------------------MAIN--------------------------------- */

.jumbo1 {
  height: 100%;
  overflow: auto;
  padding-top: 100px;
}

.transparent-top {
  height: 100px;
  background-color: #080b12;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 200px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.transparent-top a {
  font-size: 20px;
  color: white;
  margin-right: 30px;
  z-index: 50;
  border: 1px solid white;
  padding: 15px 15px 15px 15px;
  border-radius: 25px;
}

main h1 {
  color: white;
}

.central-navig {
  display: flex;
  justify-content: center;
  color: white;
  padding: 50px 0px 50px 0px;
}

.central-navig li {
  margin-left: 20px;
}

.central-navig h2 {
  color: #6c6f74;
  font-size: 18px;
}

.central-navig li:first-of-type {
  border-bottom: 2px solid #C8FF00;
}

/* ---------------MUSIC AND FILMS SECTION (inside JUMBO)-------------------- */

/* FIRST LINE OF PICTURES */

.db-heading {
  margin-left: 20px;
  padding: 30px 0px 30px 0px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 1px solid black;
  margin-left: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.db-space {
  padding-top: 20px;
}

.db-heading h2 {
  color: white;
}

.db-text-line1 {
  width: 100%;
  height: 100px;
  background-color: blue;
  display: flex;
}

.db-undertext1 {
  width: 13%;
  height: 100%;
  border: 1px solid black;
  text-align: center;
}

.db-one1 {
  background-image: url(../img/metal_lifting.jpg);
}

.db-two1 {
  background-image: url(../img/stranger.jpeg);
}

.db-three1 {
  background-image: url(../img/aquietplace.jpeg);
}

.db-four1 {
  background-image: url(../img/split.jpeg);
}

.db-five1 {
  background-image: url(../img/cure.jpeg);
}

.db-six1 {
  background-image: url(../img/sinister.jpeg);
}



/* -----------------------------FOOTER--------------------------------------- */

footer {
  width: 100%;
  height: 100px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

/* --------------------------FOOTER 1-------------------------- */

.db-footer-left {
  display: flex;
  height: 100%;
}

.sinister {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sinister img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.db-sinister-text a:link,
.db-sinister-text a:visited,
.db-sinister-text a:active,
.db-sinister-text a:hover,
.db-white {
  color: white;
  font-size: 12px;
}

#db-underlined {
  color: #717171;
  display: block;
}

#db-underlined:hover {
  text-decoration: underline;
}

.lol:link,
.lol:visited,
.lol:active,
.lol:hover {
  color: #717171;
}

.lol1 {
  position: relative;
  left: 10px;
}

.lol2 {
  position: relative;
  left: 25px;
}

/* ----------------------------FOOTER 2-------------------------------- */

.db-footer-central {
  display: flex;
  justify-content: center;
}

.db-mp3-player li {
  display: inline;
}

.db-mp3-player a:link,
.db-mp3-player a:visited,
.db-mp3-player a:active,
.db-mp3-player a:hover {
  color: white;
}

.fas.player {
  font-size: 20px;
  padding: 15px 20px 15px 20px;
}

.far.player {
  font-size: 30px;
}

/* ------------------------FOOTER 3--------------------------- */

.db-footer-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.db-footer-right i {
  padding-left: 10px;
  margin-right: 10px;
}

.db-footer-right a:link,
.db-footer-right a:visited,
.db-footer-right a:active,
.db-footer-right a:hover {
  color: #717171;
}
